@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Maven+Pro:wght@500&display=swap");
/* line 7, ../proyecto slappy diy/scss/_variables.scss */
.font-size-tamaño-1 {
  font-size: 75px;
}

/* line 7, ../proyecto slappy diy/scss/_variables.scss */
.font-size-tamaño-2 {
  font-size: 32px;
}

/* line 7, ../proyecto slappy diy/scss/_variables.scss */
.font-size-tamaño-3 {
  font-size: 18px;
}

/* line 2, ../proyecto slappy diy/scss/_generales.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 1, ../proyecto slappy diy/scss/_grilla.scss */
#miGrilla {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 10% 20% 50% 20%;
  grid-template-areas: "header header" "banner banner" "priSeccion segSeccion" "footer footer";
  height: 100vh;
}

/* line 36, ../proyecto slappy diy/scss/_grilla.scss */
.miHeader {
  grid-area: header;
  display: flex;
  flex-direction: row;
  background-color: yellow;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
}

/* line 22, ../proyecto slappy diy/scss/_grilla.scss */
.miHeader nav ul {
  display: flex;
  flex-direction: row;
}

/* line 25, ../proyecto slappy diy/scss/_grilla.scss */
.miHeader nav ul li {
  list-style: none;
  margin: 15px;
  color: #ccc;
}

/* line 29, ../proyecto slappy diy/scss/_grilla.scss */
.miHeader nav ul li a {
  text-decoration: none;
}

/* line 39, ../proyecto slappy diy/scss/_grilla.scss */
.navFontColor {
  color: black;
  font-weight: bolder;
}

/* line 43, ../proyecto slappy diy/scss/_grilla.scss */
.centrado {
  max-width: 1280px;
  margin: auto;
}

/* line 60, ../proyecto slappy diy/scss/_grilla.scss */
.miBanner {
  grid-area: banner;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  min-height: 275px;
  background-image: url("../multimedia/slappyfon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 20px;
}

/* line 74, ../proyecto slappy diy/scss/_grilla.scss */
.mainIzq {
  grid-area: "priSeccion";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  margin: 105px 175px;
  background-color: lightgrey;
  width: 100%;
  min-height: 50%;
  height: 45vh;
  margin-bottom: 5em;
}

/* line 78, ../proyecto slappy diy/scss/_grilla.scss */
.mainIzq img {
  width: 135px;
  height: 125px;
}

/* line 85, ../proyecto slappy diy/scss/_grilla.scss */
.secDer {
  grid-area: "segSeccion";
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  margin: 85px 33% 3em;
}

/* line 103, ../proyecto slappy diy/scss/_grilla.scss */
.miFooter {
  grid-area: footer;
  background-color: grey;
  width: 100%;
  height: 20vh;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 5em;
}

/* line 108, ../proyecto slappy diy/scss/_grilla.scss */
.headerSobreNosotros {
  grid-area: header;
  display: flex;
  flex-direction: row;
  background-color: yellow;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
}

/* line 22, ../proyecto slappy diy/scss/_grilla.scss */
.headerSobreNosotros nav ul {
  display: flex;
  flex-direction: row;
}

/* line 25, ../proyecto slappy diy/scss/_grilla.scss */
.headerSobreNosotros nav ul li {
  list-style: none;
  margin: 15px;
  color: #ccc;
}

/* line 29, ../proyecto slappy diy/scss/_grilla.scss */
.headerSobreNosotros nav ul li a {
  text-decoration: none;
}

/* line 111, ../proyecto slappy diy/scss/_grilla.scss */
.bannerSobreNosotros {
  grid-area: banner;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  min-height: 275px;
  background-image: url("../multimedia/slappyfon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 20px;
}

/* line 115, ../proyecto slappy diy/scss/_grilla.scss */
.estiloHistoria {
  grid-area: "priSeccion";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  margin: 105px 175px;
  background-color: lightgrey;
  width: 100%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 7em 430px;
}

/* line 124, ../proyecto slappy diy/scss/_grilla.scss */
h2, p {
  text-align: center;
  margin: auto;
}

/* line 128, ../proyecto slappy diy/scss/_grilla.scss */
iframe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* line 135, ../proyecto slappy diy/scss/_grilla.scss */
.foot-nosotros {
  grid-area: footer;
  background-color: grey;
  width: 100%;
  height: 20vh;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 6em;
}

/* line 139, ../proyecto slappy diy/scss/_grilla.scss */
.foot-noticias {
  grid-area: footer;
  background-color: grey;
  width: 100%;
  height: 20vh;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 8em;
}

/*Shop*/
/* line 145, ../proyecto slappy diy/scss/_grilla.scss */
.bannerShop {
  grid-area: banner;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  min-height: 275px;
  background-image: url("../multimedia/slappyfon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 20px;
}

/*Noticias*/
/* line 149, ../proyecto slappy diy/scss/_grilla.scss */
.bannerNoticias {
  grid-area: banner;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  min-height: 275px;
  background-image: url("../multimedia/slappyfon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 20px;
}

/* line 153, ../proyecto slappy diy/scss/_grilla.scss */
.shopMain {
  grid-area: "priSeccion";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  margin: 105px 175px;
  background-color: lightgrey;
  width: 100%;
  min-height: 50%;
  justify-content: center;
  background-color: white;
  margin: 6em 400px;
}

/* line 159, ../proyecto slappy diy/scss/_grilla.scss */
.noticiasMain {
  grid-area: "priSeccion";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  margin: 105px 175px;
  background-color: lightgrey;
  width: 100%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin: 14rem 430px;
}

/* line 166, ../proyecto slappy diy/scss/_grilla.scss */
.noticiasMain img {
  width: 145px;
  height: 135px;
}

/* line 25, ../proyecto slappy diy/scss/_header.scss */
.miHeader {
  grid-area: header;
  display: flex;
  flex-direction: row;
  background-color: yellow;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
}

/* line 10, ../proyecto slappy diy/scss/_header.scss */
.miHeader nav ul {
  display: flex;
  flex-direction: row;
}

/* line 13, ../proyecto slappy diy/scss/_header.scss */
.miHeader nav ul li {
  list-style: none;
  margin: 15px;
}

/* line 16, ../proyecto slappy diy/scss/_header.scss */
.miHeader nav ul li a {
  color: miColor;
  text-decoration: none;
}

/* line 28, ../proyecto slappy diy/scss/_header.scss */
.headerSobreNosotros {
  grid-area: header;
  display: flex;
  flex-direction: row;
  background-color: yellow;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
}

/* line 10, ../proyecto slappy diy/scss/_header.scss */
.headerSobreNosotros nav ul {
  display: flex;
  flex-direction: row;
}

/* line 13, ../proyecto slappy diy/scss/_header.scss */
.headerSobreNosotros nav ul li {
  list-style: none;
  margin: 15px;
}

/* line 16, ../proyecto slappy diy/scss/_header.scss */
.headerSobreNosotros nav ul li a {
  color: miColor;
  text-decoration: none;
}

/*Mi Titulo*/
/* line 6, ../proyecto slappy diy/scss/estilo.scss */
h1 {
  justify-content: left;
  margin-left: 20px;
}

/*seccion izquierda*/
/* line 13, ../proyecto slappy diy/scss/estilo.scss */
section a p, section a small {
  color: black;
}

/* line 16, ../proyecto slappy diy/scss/estilo.scss */
section a p div h5, section a p div small, section a small div h5, section a small div small {
  color: black;
}

/*MIS LETRAS*/
/* line 25, ../proyecto slappy diy/scss/estilo.scss */
.Titulos {
  font-family: 'Amatic SC', cursive;
}

/* line 28, ../proyecto slappy diy/scss/estilo.scss */
.miFont {
  font-family: 'Maven Pro', sans-serif;
}

/*# sourceMappingURL=estilo.css.map */