
@mixin header{
	position: fixed;
	background-color:yellow;
}	  
.miHeader{
	background-color:yellow;
	a{
		img{
			width: 78px;
			height: 68px;
		}
	}
	div{
		justify-content: right;
	}		
}
.miToggler{
	border-color: black;
	margin: 20px 10px 20px 75% ;
	display:flex;
	justify-content: right;
}
.navFontColor{
	color: black;
	font-weight: bolder;
}
@mixin banner{
	min-height: 375px;
	background-image: url('../multimedia/slappyfon.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 0 20px;
}
.miBanner{
	@include banner;
}
	.mainIzq{
		height:44vh;
		width: 100%;
		ul{
			li{
				img{
					width: 115px;
					height:105px;
				}
			}
		}		
	}
@media (min-width: 576px){
	.mainIzq{
		img{
			width:75px;
			height:65px;
		}
	}
}	
@media (max-width: 575.98px){
	a{
		img{
			width: 75px;
			height: 70px;
		}
	}
}
@media (min-width: 992px) {
	footer{
		div{
		height: 40px;
		}
	}
}

.secDer{
	display:inline-block;
	flex-shrink:1;
}

@mixin footer{
		background-color: grey;
		width:100%;
		color:white;
		text-align: center;

	}
@media (max-width: 575.98px){
	footer{
		div{
		background-color: grey;
		height: 17vh;
		}
	}
	.boxLogo{
			div{
			margin: 0px;
			}	
	}
	.secDer{
		margin-top:140px;
	}
	.miCard{
		img{
		margin-left: 152px;
		}
	}		
}
@media (min-width: 768px){
	footer{
		div{
		background-color: grey;
		height: 12vh;
		}
	}
	.boxLogo{
		height: 72px;
	}
}
.miFooter{
	@include footer;
	margin: 0px;
}
.boxLogo{
	height:78px;
	img{
		margin-top: 5px;
		height: 65px;
		width: 275px;
	}
}
.boxRedes{
	margin-top: 5px;
	padding-right: 0px;
	height: 78px;
	img{
		height: 55px;
		width: 55px;
	}
}
.boxUbicacion{ 
	margin-top: 5px;
	margin-bottom: 0px;
	height: 78px;
}
.estiloHistoria{
	align-items: center;
	justify-content: center;
}
h2,p{
	text-align: center;
	margin-bottom: 25px;
}
/*Shop*/
.shopMain{
	justify-content: center;
	background-color: white;
	img{
		width: 225px;
		height: 225px;
	}
}
.noticiasMain{
	justify-content: center;
	background-color: white;
	img{
		width: 145px;
		height: 135px;
	}
}