@import "variables";
@import "generales";
@import "grilla";
@import "header";
/*Mi Titulo*/
h1{ 
	justify-content: left;
	margin-left: 20px;
}
/*seccion izquierda*/
section{
	a{
		p, small{
			color:black;
			div{
				h5, small{
					color:black;
				}	
			}
		}	
	}	
}

/*MIS LETRAS*/
.Titulos{    
    font-family: 'Amatic SC', cursive; 
}
.miFont{
	 font-family: 'Maven Pro', sans-serif;
} 